{{- $brewfile := joinPath .chezmoi.sourceDir "dot_config/brew" (printf "Brewfile.%s" .role) -}}
{{- if stat $brewfile -}}
#!/usr/bin/env bash
set -euo pipefail

# Brewfile hash: {{ include (printf "dot_config/brew/Brewfile.%s" .role) | sha256sum }}

echo "==> Syncing Homebrew packages for role: {{ .role }}..."
brew bundle --file="${HOME}/.config/brew/Brewfile.{{ .role }}"
{{- end -}}
